  .heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2px;
}
span{
  color:gray;
  display: block;
}
.heading-1{
  font-size: 28px;
  line-height: 1.3;
}
h3{
  font-weight: 800;
}
.bold{
  font-weight: bold;
  margin-bottom: 2px;
}


.attribution{
  text-align: center;
}  



/* //---------------------// */
.box {
  background: white;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  border-top: 5px solid; 
}


.box-container {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}
.left {
  grid-column: 1;
  grid-row: 2;
    border-top-color:hsl(34, 97%, 64%);
}

.top {
  grid-column: 2;
  grid-row: 1;
  border-top-color:hsl(0, 78%, 62%);
}

.bottom {
  grid-column: 2;
  grid-row: 3;
  border-top-color:hsl(180, 62%, 55%);
}

.right {
  grid-column: 3;
  grid-row: 2;
  border-top-color:hsl(212, 86%, 64%);
}

@media (max-width: 768px) {
  .box-container {
    grid-template-columns: 1fr;
  }

  .left,
  .top,
  .bottom,
  .right {
    grid-column: auto;
    grid-row: auto;
  }
}

img{
  float: right;
}