@font-face {
  font-family:'italic' ;
  src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family:'variableFont' ;
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}
*{
  font-family: variableFont;
}

body{
  
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}



.content-1 img{
  max-width: 150px;
}
.content2-sub img{
  max-width:100px ;
}
.content-3 img{
  width: 200px;
  font-size: 18px;
}
.content-4 img{
  width: 200px;
  font-family: variableFont;
}
.content-5 img{
  width: 200px;
}
.content-6 img{
  max-width: 200px;
   clip-path: inset(0 0 50% 0);
}
.content-7 img{
  width: 150px;
}
.fw{
  font-size: 18px;
}
.content-8 img{
  width: 150px;
}
span{
  color: hsl(256, 67%, 59%);
}


.content2-sub{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}


.c-21{
  color: bisque;
}

.sub-21{
  color:white;
  font-size: 15px;
}

